.dropdown {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
}

.dropbtn {
    background-color: #23509d71;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #666666dc;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #7f7f7f;
}

.dropdown.active .dropdown-content {
    display: block;
}
nav a:hover {
    color: #51b9fe;
}
nav a {
    color: #ffffff;
    transition: color 0.2s ease;
}